body {
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
}

#inicio {
    color: #34ffa6;     
    font-size: 40px;
    margin-bottom: 20px;
}

input, button {
    background-color: #bbe9ff; /* color de recuadro
    color: #0012ff; /* color de letras */
    padding: 10px; /* el ancho de el recuadro */
    margin: auto;  /* el largo que recuadro*/
}

