body {
    text-align: center;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
}

#inicio {
    color: cornflowerblue;     
    font-size: 40px;
    margin-bottom: 20px;
}

input, button {
    background-color: #00ff00;
    color: #222;
    padding: 10px; /* el ancho de el recuadro */
    margin: auto;  /* el largo que recuadro*/
}

